---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import { props } from "vanil"
import { mainColor, brandPrimaryColor, brandSecondaryColor } from "../config/ci"
---
<html>
    <head> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{ props.title || "VanilDocs" }</title>

        <link href="/bootstrap-custom.css" rel="stylesheet" />

        <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
        
        <style lang="scss">    
            :root {
                --bs-dark: ${mainColor} !important;
                --bs-body-color: ${mainColor};
                --bs-primary: ${brandPrimaryColor} !important;
                --bs-secondary: ${brandSecondaryColor} !important;
                --main-bg-color: ${brandSecondaryColor};
                --main-color: ${mainColor};
                --brand-color: ${brandPrimaryColor};
            }
        </style>

        <link href="./PageLayout.scss" rel="stylesheet" />
    </head>
    <body>
        <Header />

        <div class="content">
            <slot />
        </div>

        <Footer />
    </body>
</html>